
.signup-container {
	display: flex;
    /* flex-direction: column; */
	justify-content: center;
	align-items: center;
	background: hsl(218deg 50% 91%);
	height: 100vh;    
}
input {
    outline: none;
    border: none;
    &::placeholder {
        color: hsl(0deg 0% 0%);
        font-size: 0.7rem;
    }
}
.heading{
    /* margin-top: 70px; */
    text-align: center;
}
.password,.email,.firstName,.lastName,.confirmPassword {
    width: 300px;
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
    color: hsl(0deg 0% 30%);
    margin: 0.5rem;
}


.signupBtn{
    width: 100%;
    padding: 1em;
    background: hsl(233deg 36% 38%);
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}
.disabledSignupBtn{
    width: 100%;
    padding: 1em;
    /* background: hsl(233deg 36% 38%); */
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;

}
.loginLink{
    color: hsl(233deg 36% 38%);;
    cursor: pointer;
    margin-left:0.3rem ;
}



