.cart-page-container {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-gap: 20px;
  padding: 10px;
}
.cart-product-container {
  flex: 1;
  width: 500px;
  margin: 20px;
}

.price-detail {
  font-weight: 600;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  width: 300px;
  border-radius: 3px;
  background-color: #ccd5ae;
  box-shadow: 0 0 2px 2px #ddf7e3;
  margin-top: 20px;
}

.item-price-detail {
  float: right;
}
.cart-product-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-card-detail-container {
  position: relative;
  display: flex;
  box-shadow: 0 0 4px 2px lightgrey;
}

.cart-card-detail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout {
  background-color: #ddf7e3;
  width: 100%;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}
.remove-btn {
  font-weight: 700;
  background-color: #7fb77e;
  width: 100%;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-text {
  color: grey;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.shop-btn {
  font-weight: 500;
  color: whitesmoke;
  background-color: #867070;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.increment-decrement {
  color: whitesmoke;
  background-color: #867070;
  border: none;
  padding: 2px 8px;
  border-radius: 4px;
  cursor: pointer;
}
