.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.category-images img {
  width: 350px;
  height: 400px;
  margin-top: 10px;
}

.category-shop-btn button {
  cursor: pointer;
  top: 50%;
  position: absolute;
  width: 200px;
  margin: 0 75px 0 75px;
  height: 25px;
  border-radius: 10px;
  border: none;
}
.category-shop-btn button:hover {
  background-color: cadetblue;
  color: white;
}

.category-name {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  width: 100px;
  margin: 0 125px 0 125px;
  text-align: center;
  background-color: aliceblue;
  border-radius: 0 10px 0 10px;
  height: 50px;
}

.shop-all {
  background-color: #a2d0c1;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #27374d;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .banner-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .category-name {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    width: 100px;
    margin: 0 50px 0 50px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 0 10px 0 10px;
    height: 20px;
  }
  .category-images img {
    width: 200px;
    height: 300px;
    margin-top: 10px;
  }
  .shop-all {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #27374d;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
  }

  .category-shop-btn button {
    cursor: pointer;
    top: 50%;
    position: absolute;
    width: 80px;
    margin: 0 60px 0 60px;
    height: 25px;
    border-radius: 10px;
    border: none;
  }
  .shop-all:hover {
    background-color: #eff7e1;
  }
}
