.checkout-page {
  display: flex;
  justify-content: center;
}
.checkout-page > * {
  margin: 40px;
}

.checkout-address {
  width: 300px;
}

input[type="radio"]:checked {
  color: red;
  font-weight: bold;
  background: yellow;
}
