.product-page-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 15px;
  height: 90vh;
  overflow-y: hidden;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  overflow-y: auto;
}

.product-container::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

.product-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.product-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 3px;
  background-color: #f0edd4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  align-self: center;
}

img {
  width: 200px;
  height: 230px;
}

.card-container img {
  border-radius: 3px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-container p {
  margin: 5px 0;
}

.card-detail-container {
  background-color: #e8f6ef;
}
.link-product {
  text-decoration: none;
  color: #27374d;
  font-size: 15px;
}

.card-detail {
  padding: 5px;
}

.GoToCart-btn {
  font-weight: 700;
  background-color: #558776;
  width: 100%;
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.AddToCartBtn {
  font-weight: 700;
  background-color: #b8dfd8;
  width: 100%;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.image-conatiner {
  position: relative;
}

.rating-container {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-top: 5px;
  background-color: #e8f6ef;
  width: 50px;
  border-radius: 5px;
}

.star {
  color: gold;
  font-size: 25px;
  margin-right: 5px;
}

.rating {
  font-size: 14px;
  color: #333;
}

.price-discount {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.discount {
  color: grey;
  margin: 5px;
}

.wishList-container {
  position: absolute;
  top: 0;
  right: 0;
}

.wishlist-button-added {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wishlist-button-added::before,
.wishlist-button-added::after {
  content: "";
  position: absolute;
  top: 0;
  width: 14px;
  height: 22px;
  background-color: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
}

.wishlist-button-added::before {
  left: 5px;
}

.wishlist-button-added::after {
  right: 5px;
  transform: rotate(45deg);
}

.wishlist-button-remove {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wishlist-button-remove::before,
.wishlist-button-remove::after {
  content: "";
  position: absolute;
  top: 0;
  width: 14px;
  height: 22px;
  background-color: #fce9f1;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
}

.wishlist-button-remove::before {
  left: 5px;
}

.wishlist-button-remove::after {
  right: 5px;
  transform: rotate(45deg);
}

.filter-container {
  flex: 0 0 auto;
  width: 250px;
  font-size: 18px;
  box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 0.5);
  height: 90vh;
}
.category-filter {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.category-filter > * {
  margin: 5px;
}

.sorting-filter {
  margin: 20px;
}

.size-filter {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.rating-filter {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.text-product {
  margin: 20px;
  font-size: 15px;
}

.clear-filter {
  display: flex;
  margin: 0 20px 0 20px;
  justify-content: space-between;
}

.clear-filter-btn {
  background-color: #c7e8ca;
  padding: 2px;
  color: #27374d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.product-not-found{
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
