.wishlist-button{

    background-color: green;

}
.active{
    background-color: bisque;
}

.product-page-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px; 
}
.filter-container{
    flex: 0 0 auto; 
    width: 200px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    justify-content: center;
}

.card-container {
  position: relative;
    display: flex;
    flex-direction: column;
    width: 200px; /* Set a fixed width */
    height: 450px; 
    border-radius: 3px;
    background-color: #F0EDD4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-self: center;
  }

  img{
    height: 225px;
  }
  
  .card-container img {
    border-radius: 3px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card-container p {
    margin: 5px 0;
  }

  .card-detail{
    background-color:aliceblue ;
  }

  .cart-btn {
    background-color: #FFFFFF;
    color: #27374D;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  

  .wishList-container{
    position: absolute;
    top: 0;
  right: 0;
  }

  .wishlist-button {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .wishlist-button.added::before,
  .wishlist-button.added::after {
    content: "";
    position: absolute;
    top: 0;
    width: 14px;
    height: 22px;
    background-color: red; 
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
  }
  
  .wishlist-button.added::before {
    left: 5px;
  }
  
  .wishlist-button.added::after {
    right: 5px;
    transform: rotate(45deg);
  }
  

  .wishlist-button.remove::before,
  .heart-button.remove::after {
    content: "";
    position: absolute;
    top: 0;
    width: 14px;
    height: 22px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
  }

    
  .wishlist-button.remove::before {
    left: 5px;
  }
  
  .wishlist-button.remove::after {
    right: 5px;
    transform: rotate(45deg);
  }
  