.nav-container {
  padding: 1rem;
  background-color: hsl(233deg 36% 38%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link-icon {
  width: 28px;
  height: 28px;
  display: block;
  flex-shrink: 0;
  left: 18px;
  position: absolute;
}

.link{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 99em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: #fff;
  color: aliceblue;
  text-decoration: none;
}

.banner-noti{
  position: relative;
  top: -8px;
  left: -10px;
  background-color: #ff0000;
  color: #fff;
  padding: 1px 4px;
  border-radius: 50%;
  z-index: 1;

}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .right-container {
    margin-top: 10px;
  }


}