.nav-container {
  padding: 1rem;
  background-color: #e3f4f4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #40513b;
}

.link-icon {
  width: 28px;
  height: 28px;
  display: block;
  flex-shrink: 0;
  left: 18px;
  position: absolute;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 99em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: #025464;
  text-decoration: none;
}

.banner-noti {
  position: relative;
  top: -8px;
  left: -10px;
  background-color: #8d7b68;
  color: #fff;
  padding: 1px 4px;
  border-radius: 50%;
  z-index: 1;
}

@media (max-width: 768px) {
  .nav-container {
    display: flex;
  }
  .right-container{
    display: flex;
    margin: 0;
  }
  .link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    transform-origin: center left;
    transition: width 0.2s ease-in;
    text-decoration: none;
    color: #025464;
    text-decoration: none;
  }
}
