.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: aliceblue;
}

.search-container label {
  margin-right: 10px;
}

.search-container input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: aliceblue;
}
